@font-face {
    font-family: HelveticaNeue;
    font-weight: bold;
    src: url("/assets/fonts/Linotype - HelveticaNeueLTPro-Bd.otf") format("opentype");
}

@font-face {
    font-family: HelveticaNeueNormal;
    font-weight: normal;
    src: url("/assets/fonts/Linotype - HelveticaNeueLTPro-Roman.otf") format("opentype");
}